/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-block-end: 20px;
  }
  
  label {
    display: block;
    margin-block-start: 10px;
  }
  
  input {
    display: block;
    margin-block-start: 5px;
    margin-block-end: 10px;
  }
  
  button {
    margin-block-start: 10px;
  }
  
  #balance-result, #transactions-result {
    margin-block-start: 10px;
  } */